*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(145, 108, 108);
    width: 100%;
    height: 100vh;
    text-align: center;

}
.container{
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(43, 37, 37);
}
.btns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 8px;
    margin-top: 30px;
}
button{
    box-shadow: 0 3px 6px rgb(0, 0, 0) ;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(66, 64, 64);
    color: white;
}
#screen{
    width: 100%;
    background-color:rgb(152, 156, 76);
    height: 70px;
    font-size: 40px;
    border: none;
    outline: none;
    box-shadow: 0 1px 2px rgb(0, 0, 0) inset;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
}
.operator{
    background-color: rgb(84, 34, 49);
    color: white;
}
.number{
    background-color: rgb(132, 106, 47);
}
.clear{
    background-color: rgb(18, 6, 43);
    color: white;
}
.delete{
    background-color: rgb(33, 72, 47);
    color: white;
}
.equal{
    background-color: rgb(238, 150, 8);
    color: white;
}